@import "../../styles/mixin";

.city {
  @include cover;

  &.city-preload {
    @include background-preload("city");
  }
  &.city-img {
    @include background("city", true);
  }

  &:after {
    content:"";
    @include size(100%);
    @include abs-pos;
    background-color:rgba(0, 0, 0, 0.2);
    z-index:1;
  }
}
