@import "mixin";
$body-background:#ecf0f1;
$content-background:#fff;
$text-color:#34495e;
$link-color:#16a085;

*,
*:before,
*:after {
  box-sizing:inherit;
  margin:0;
  padding:0;
}

* {
  box-sizing:border-box;
}


html,
body,
canvas {
  @include size(100%);
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y:contain;
  background-color:$body-background;
  color:$text-color;
  font-family:"Lato", Helvetica, Arial, sans-serif;
  font-size:18px;
  line-height:1.72222;
  margin:0;
  padding:0;
}

a {
  color:$link-color;
  text-decoration:none;
  transition:0.25s;
}

.container--main {
  background-color:#fff;
  padding-top:60px;
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

.container .u--hidden {
  opacity:0;
}

.u--pointer {
  cursor:pointer;
}

@media (max-width: 425px) {
  // empty
}
@media (min-width: 426px) and (max-width: 768px) {
  // .add-btn {
  //   width:50%;
  // }
}
@media (min-width: 769px) and (max-width: 992px) {
  // empty
}
