$body-background:#ecf0f1;
$content-background:#fff;
$text-color:#34495e;
$link-color:#16a085;

* {
  box-sizing:border-box;
}

body {
  background-color:$body-background;
  color:$text-color;
  font-family:"Lato", Helvetica, Arial, sans-serif;
  font-size:18px;
  line-height:1.72222;
  margin:0;
  padding:0;
}

a {
  color:$link-color;
  text-decoration:none;
  transition:0.25s;
}

.container {
  margin-left:auto;
  margin-right:auto;
  max-width:970px;
  padding-left:15px;
  padding-right:15px;
  @media (max-width: 425px) {
    max-width:420px;
  }
  @media (min-width: 426px) and (max-width: 768px) {
    max-width:760px;
  }
}

.container--main {
  background-color:#fff;
  padding-top:60px;
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

.content {
  text-align:justify;
}

.num-words {
  font-weight:normal;
}

.form-group-right {
  text-align:right;
}

.u--nodisplay {
  display:none;
}

.u--center {
  text-align:center;
}

.u--pointer {
  cursor:pointer;
}

@media (max-width: 425px) {
  // empty
}
@media (min-width: 426px) and (max-width: 768px) {
  .add-btn {
    width:50%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  // empty
}
