@import "../../styles/mixin";

.forest {
  @include cover;

  &.forest-preload {
    @include background-preload("forest");
  }
  &.forest-img {
    @include background("forest", true);
  }

  &:after {
    content:"";
    @include size(100%);
    @include abs-pos;
    background-color:rgba(0, 0, 0, 0.2);
    z-index:1;
  }
}
