@import "../../styles/mixin";

.street {
  @include cover;

  &.street-preload {
    @include background-preload("street");
  }
  &.street-img {
    @include background("street", true);
  }

  &:after {
    content:"";
    @include size(100%);
    @include abs-pos;
    background-color:rgba(0, 0, 0, 0.2);
    z-index:1;
  }
}
