@import "../../styles/mixin";
$header-background:#34495e;
$header-shadow:rgba(0,0,0,0.3);
$header-hero-background:#222;
$header-hero-shadow:rgba(255,255,255,0.2);
$title-color:#fff;
$link-hover-background:#ecf0f1;
$curve-transition:cubic-bezier(0,0,0.3,1);

.header {
  align-items:center;
  background:$header-background;
  box-shadow:0 2px 4px $header-shadow;
  color:$title-color;
  display:flex;
  flex-direction:row;
  height:56px;
  left:0;
  padding:0 16px;
  position:fixed;
  top:0;
  width:100%;
}

.header__menu-toggle {
  background:none;
  border:none;
  color:$title-color;
  height:24px;
  margin:0;
  padding:0;
  position:absolute;
  width:24px;
}

.side-nav {
  height:100%;
  left:0;
  overflow:hidden;
  pointer-events:none;
  position:fixed;
  top:0;
  width:100%;
}

.side-nav--visible {
  pointer-events:auto;
}

.side-nav::before {
  background:$header-hero-shadow;
  content:"";
  display:block;
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  top:0;
  transition:opacity 0.3s $curve-transition;
  width:100%;
  will-change:opacity;
}

.side-nav__container {
  background:$title-color;
  box-shadow:2px 0 12px $header-hero-shadow;
  display:flex;
  flex-direction:column;
  height:100%;
  max-width:400px;
  position:relative;
  transform:translateX(-102%);
  width:90%;
  will-change:transform;
}

.side-nav--animatable .side-nav__container {
  transition:transform 0.13s $curve-transition;
}

.side-nav--visible.side-nav--animatable .side-nav__container {
  transition:transform 0.33s $curve-transition;
}

.side-nav--visible::before {
  opacity:1;
}

.side-nav--visible .side-nav__container {
  transform:none;
}

.side-nav__hide {
  background:none;
  border:none;
  color:$title-color;
  height:24px;
  left:16px;
  margin:0;
  padding:0;
  position:absolute;
  top:16px;
  width:24px;
  z-index:1;
}

.side-nav__mock-bg {
  background-color:$header-hero-background;
}

.side-nav__header {
  align-items:flex-end;
  background-color:$header-hero-background;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color:$title-color;
  display:flex;
  height:200px;
  padding:16px;
  opacity:0;
  transition:opacity 0.6s;
  will-change:opacity;

  &.side-nav__header--lazy-bg {
    opacity:1;
    @include background("menu");
  }
}

.side-nav__title {
  color:$title-color;
  font-size:24px;
  margin:0 auto;
  padding-left:0;
}

.side-nav__content {
  flex:1;
  list-style:none;
  margin:0;
  -webkit-overflow-scrolling:touch;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0;
  padding-top:32px;
}

.side-nav__content .side-nav__lnk {
  display:block;
  height:48px;
  line-height:48px;
  padding:0 16px;
}

.side-nav__content .side-nav__lnk:hover,
.side-nav__content .side-nav__lnk:focus {
  background:$link-hover-background;
}


.active,
.selected {
  font-weight:bold;
}
