<div class="header">
  <button id="menuShow" aria-label="show menu" role="presentation" class="header__menu-toggle u--pointer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg></button>
  <span id="sideNavTitle" class="side-nav__title" data-lang="summary" data-toggle="lang">Rainy Mood</span>
</div>

<aside id="sideNav" class="side-nav">
  <nav id="sideNavContainer" class="side-nav__container">
    <button id="menuHide" aria-label="hide menu" role="presentation" class="side-nav__hide u--pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </button>
    <div class="side-nav__mock-bg">
      <header class="side-nav__header">
        <span id="coverTitle">Rainy night</span>
        <button id="muteBtn" class="mute-btn" data-muted="false" aria-label="mute or unmute" role="presentation">
          Mute or unmute
        </button>
      </header>
    </div>
    <ul class="side-nav__content">
      <li>
        <a id="stormNav" class="side-nav__lnk active" data-type="nav-select" data-title="Rainy Night" data-target="storm" href="#">
          <span>Night</span>
        </a>
      </li>
      <li>
          <a id="streetNav" class="side-nav__lnk" data-type="nav-select" data-title="Chill Morning" data-target="street" href="#">
            <span>Morning</span>
          </a>
        </li>
      <li>
        <a id="forestNav" class="side-nav__lnk" data-type="nav-select" data-title="Rainy Day" data-target="forest" href="#">
          <span>Day</span>
        </a>
      </li>
      <li>
        <a id="cityNav" class="side-nav__lnk" data-type="nav-select" data-title="Calm Evening" data-target="city" href="#">
          <span>Evening</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
