@import "../../styles/mixin";
$color1:rgba(0, 0, 0, 0.6);
$color2:rgba(0, 0, 0, 0.3);
$color3:rgba(0, 0, 0, 0.1);

.storm {
  @include cover;

  &.storm-preload {
    @include background-preload("storm");
  }
  &.storm-img {
    @include background("storm", true);
  }

  &:after {
    content:"";
    @include size(100%);
    @include abs-pos;
    background-color:rgba(0, 0, 0, 0.3);
    z-index:1;
  }
  &.fast:after {
    animation:thunder-fast 0.6s;
  }
  &.long:after {
    animation:thunder-long 1.4s;
  }
}

.thunder {
  @at-root {
    @keyframes thunder-fast {
      0% {
        background-color:$color1;
      }
      5% {
        background-color:$color2;
      }
      6% {
        background-color:$color1;
      }
      95% {
        background-color:$color2;
      }
      98% {
        background-color:$color1;
      }
      99% {
        background-color:$color2;
      }
      100% {
        background-color:$color1;
      }
    }

    @keyframes thunder-long {
      0% {
        background-color:$color1;
      }
      5% {
        background-color:$color2;
      }
      6% {
        background-color:$color1;
      }
      7% {
        background-color:$color2;
      }
      10% {
        background-color:$color1;
      }
      80% {
        background-color:$color2;
      }
      81% {
        background-color:$color3;
      }
      82% {
        background-color:$color2;
      }
      99% {
        background-color:$color3;
      }
      100% {
        background-color:$color2;
      }
    }
  }
}
