@mixin size($size) {
  width:$size;
  height:$size;
}

@mixin abs-pos {
  display:block;
  position:absolute;
  top:0;
  left:0;
}

$color1:rgba(0, 0, 0, 0.6);
$color2:rgba(0, 0, 0, 0.3);
$color3:rgba(0, 0, 0, 0.1);

html {
  box-sizing:border-box;
}

*,
*:before,
*:after {
  box-sizing:inherit;
  margin:0;
  padding:0;
}

html,
body,
canvas {
  @include size(100%);
}

.sky {
  @include size(100%);
  background-color:#222;
  background-image:url("storm-bg@x1.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
  z-index:0;

  @media /* Use x1 images for Desktop */
  only screen and (min-width: 468px) {
    background-image:url("storm-bg-w@x1.jpg");
  }

  @media /* Use x2 images iPhone 6 & Retina HD displays */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    background-image:url("storm-bg@x2.jpg");
  }
  @media /* Use x3 images for iPhone 6 plus and similar devices */
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-resolution: 350dpi) {
    background-image:url("storm-bg@x3.jpg");
  }

  @media /* Use x2 images iPhone 6 & Retina HD displays */
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 468px),
  only screen and (min-resolution: 192dpi) and (min-width: 468px) {
    background-image:url("storm-bg-w@x2.jpg");
  }
  @media /* Use x3 images for iPhone 6 plus and similar devices */
  only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 468px),
  only screen and (min-resolution: 350dpi) and (min-width: 468px) {
    background-image:url("storm-bg-w@x3.jpg");
  }

  &:after {
    content:"";
    @include size(100%);
    @include abs-pos;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:1;
  }
  &.fast:after {
    animation:thunder-fast 0.6s;
  }
  &.long:after {
    animation:thunder-long 1.4s;
  }
}

canvas {
  @include abs-pos;
}

.thunder {
  @at-root {
    @keyframes thunder-fast {
      0% {
        background-color:$color1;
      }
      5% {
        background-color:$color2;
      }
      6% {
        background-color:$color1;
      }
      95% {
        background-color:$color2;
      }
      98% {
        background-color:$color1;
      }
      99% {
        background-color:$color2;
      }
      100% {
        background-color:$color1;
      }
    }

    @keyframes thunder-long {
      0% {
        background-color:$color1;
      }
      5% {
        background-color:$color2;
      }
      6% {
        background-color:$color1;
      }
      7% {
        background-color:$color2;
      }
      10% {
        background-color:$color1;
      }
      80% {
        background-color:$color2;
      }
      81% {
        background-color:$color3;
      }
      82% {
        background-color:$color2;
      }
      99% {
        background-color:$color3;
      }
      100% {
        background-color:$color2;
      }
    }
  }
}
